fastapi==0.111.0
uvicorn==0.30.1
pydantic>=2.7,<2.9
pydantic-settings
groq==0.9.0
python-dotenv==1.0.1
httpx==0.27.2
chromadb
sentence-transformers
langchain
pypdf
python-docx
langchain-text-splitters
python-multipart
